.DS_Store
GUI_SRC_CODE/src/__pycache__/analyse_window_const_sr.cpython-313.pyc
GUI_SRC_CODE/src/__pycache__/analyse_Window.cpython-313.pyc
GUI_SRC_CODE/src/__pycache__/analyse_window_creep_test.cpython-313.pyc
GUI_SRC_CODE/src/__pycache__/creep_test_gui.cpython-313.pyc
GUI_SRC_CODE/src/__pycache__/main_window_test.cpython-313.pyc
GUI_SRC_CODE/src/__pycache__/creep_test_window.cpython-313.pyc
GUI_SRC_CODE/src/__pycache__/constant_shear_rate.cpython-313.pyc
GUI_SRC_CODE/src/__pycache__/popout_graph.cpython-313.pyc
GUI_SRC_CODE/src/__pycache__/sockets_files.cpython-313.pyc
GUI_SRC_CODE/src/__pycache__/gui_baru.cpython-313.pyc
GUI_SRC_CODE/.venv
GUI_SRC_CODE/src/files/results_fr.csv