.DS_Store


#Relative files according to the local system
GUI_SRC_CODE/.venv/
GUI_SRC_CODE/src/files/results_fr.csv
.venv/
GUI_SRC_CODE/.conda_env/
bin/
info/
Library/


#All the cache files should not be uploaded
GUI_SRC_CODE/src/__pycache__/
GUI_SRC_CODE/src/creep_test/__pycache__/
GUI_SRC_CODE/src/creep_test/__pycache__ 2/
GUI_SRC_CODE/src/constant_shear_rate/__pycache__/
GUI_SRC_CODE/src/constant_shear_rate/__pycache__ 2/
GUI_SRC_CODE/src/socket_GUI/__pycache__/
GUI_SRC_CODE/src/socket_GUI/__pycache__ 2/
GUI_SRC_CODE/src/pid_controller_gui_dev/__pycache__/
GUI_SRC_CODE/src/__pycache__/packet_transmission.cpython-312.pyc
GUI_SRC_CODE/src/pid_controller_gui_dev/__pycache__/pid_output_main.cpython-312.pyc
GUI_SRC_CODE/src/pid_controller_gui_dev/__pycache__/pid_output.cpython-312.pyc
/GUI_SRC_CODE/src/__pycache__/
GUI_SRC_CODE/src/__pycache__/main_window_gui.cpython-312.pyc
/GUI_SRC_CODE/src/pid_controller_gui_dev/__pycache__/
/GUI_SRC_CODE/src/creep_test/__pycache__/
/GUI_SRC_CODE/src/creep_test/__pycache__/
GUI_SRC_CODE/src/pid_controller_gui_dev/__pycache__/pid_output.cpython-312.pyc
GUI_SRC_CODE/src/pid_controller_gui_dev/__pycache__/pid_output_main.cpython-312.pyc
GUI_SRC_CODE/src/pid_controller_gui_dev/__pycache__/change_coeff.cpython-312.pyc
GUI_SRC_CODE/src/pid_controller_gui_dev/__pycache__/change_coeff_tab.cpython-312.pyc
GUI_SRC_CODE/src/creep_test/__pycache__/creep_test_window_main.cpython-312.pyc
GUI_SRC_CODE/src/creep_test/__pycache__/creep_test_gui.cpython-312.pyc
GUI_SRC_CODE/src/creep_test/__pycache__/analyse_Window.cpython-312.pyc
GUI_SRC_CODE/src/creep_test/__pycache__/analyse_window_creep_test.cpython-312.pyc
GUI_SRC_CODE/src/creep_test/__pycache__/__init__.cpython-312.pyc
GUI_SRC_CODE/src/__pycache__/packet_transmission.cpython-312.pyc
GUI_SRC_CODE/src/__pycache__/main_window_gui.cpython-312.pyc
GUI_SRC_CODE/src/__pycache__/main_window_gui.cpython-312.pyc
GUI_SRC_CODE/src/__pycache__/main_window_gui.cpython-313.pyc
GUI_SRC_CODE/src/__pycache__/packet_transmission.cpython-312.pyc
GUI_SRC_CODE/src/__pycache__/packet_transmission.cpython-313.pyc
GUI_SRC_CODE/src/constant_shear_rate/__pycache__/__init__.cpython-312.pyc
GUI_SRC_CODE/src/constant_shear_rate/__pycache__/analyse_window_const_sr.cpython-312.pyc
GUI_SRC_CODE/src/constant_shear_rate/__pycache__/analyse_window_const_sr.cpython-313.pyc
GUI_SRC_CODE/src/constant_shear_rate/__pycache__/analyse_Window.cpython-312.pyc
GUI_SRC_CODE/src/constant_shear_rate/__pycache__/constant_shear_rate_main.cpython-312.pyc
GUI_SRC_CODE/src/constant_shear_rate/__pycache__/constant_shear_rate_main.cpython-313.pyc
GUI_SRC_CODE/src/constant_shear_rate/__pycache__/graph_fr.cpython-312.pyc
GUI_SRC_CODE/src/constant_shear_rate/__pycache__/gui_baru.cpython-312.pyc
GUI_SRC_CODE/src/constant_shear_rate/__pycache__/popout_graph_for_fr.cpython-312.pyc
GUI_SRC_CODE/src/creep_test/__pycache__/__init__.cpython-312.pyc
GUI_SRC_CODE/src/creep_test/__pycache__/analyse_window_creep_test.cpython-312.pyc
GUI_SRC_CODE/src/creep_test/__pycache__/analyse_window_creep_test.cpython-313.pyc
GUI_SRC_CODE/src/creep_test/__pycache__/analyse_Window.cpython-312.pyc
GUI_SRC_CODE/src/creep_test/__pycache__/creep_test_gui.cpython-312.pyc
GUI_SRC_CODE/src/creep_test/__pycache__/creep_test_window_main.cpython-312.pyc
GUI_SRC_CODE/src/socket_GUI/__pycache__/__init__.cpython-312.pyc
GUI_SRC_CODE/src/socket_GUI/__pycache__/sockets_files.cpython-312.pyc
GUI_SRC_CODE/src/socket_GUI/__pycache__/sockets_files.cpython-313.pyc
